



	<!-- Main Sidebar Container -->
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
			
		<!-- Brand Logo -->
		<a href="/" class="brand-link">
			<img src="assets/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
			<span class="brand-text font-weight-light">JumpQ DashBoard</span>
		</a>
 
		<!-- Sidebar -->
		<div class="sidebar">
			<!-- Sidebar user (optional) -->
			<div class="col">
				<a href="/" class="brand-link">
					<span class="brand-text font-weight-light">Mapfre Atlas</span>
			   </a>
			</div>
		

			<!-- Sidebar Menu -->
			<nav class="mt-2">

				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					
					<li class="nav-item">

						<a href="/" class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
							<p>Cuenta y parametrización <i class="right fas fa-angle-left"></i></p>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/branchoffice']" routerLinkActive="active">
							<p>Configuración de locales<i class="fas fa-angle-left right"></i></p>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/virtualcall']" routerLinkActive="active">
							<p>Agendamiento virtual<i class="fas fa-angle-left right"></i></p>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/branch-charts']" routerLinkActive="active">
							<p>Visualizador de actividad<i class="fas fa-angle-left right"></i></p>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" [routerLink]="['/Suscripcion']" routerLinkActive="active">
							<p>Facturación y pago<i class="fas fa-angle-left right"></i></p>
						</a>
					</li>
				</ul>

			</nav>
			<!-- /.sidebar-menu -->


		</div>
		<!-- /.sidebar -->

	</aside>
