<section class="content-header" *ngIf="panelPrincipal">
	<h1>Sucursales </h1>
</section>


<div class="container-fluid">
	<div *ngIf="loadingpanel" class="col-12 alert alert-info">Estamos cargando la informacion del modulo porfavor
		espere.</div>
	<div class="row" *ngIf="panelPrincipal">
		<div class="col-12">
			<br>
			<label (click)="panelsucursal()">
				<h4>Agregar Nueva sucursal</h4>
			</label>
		</div>
		<div *ngIf="ModeOf" class="col-12">
			<br>
			<label (click)="panelsucursalE()">
				<h4>Agregar Nueva sucursal ecuador</h4>
			</label>
		</div>
		<div class="col-12">
			<br>
			<label (click)="panelModfSucursal()">
				<h4>Modificar sucursales</h4>
			</label>
		</div>
		<div class="col-12">
			<br>
			<label (click)="panelConfSucursal()">
				<h4>Configurar Horarios</h4>
			</label>
		</div>
		<div class="col-12">
			<br>
			<label (click)="panelGuardias()">
				<h4>Gestionar Guardias</h4>
			</label>
		</div>

	</div>

	<div *ngIf="panelcrearsucursal">
		<form [formGroup]="registroEForm" (ngSubmit)="crearnuevaSucursal()">
			<div class="row">
				<div class="col-12">
					<h2>Crear nueva sucursal chile</h2>
				</div>
				<div class="col-12 alert alert-info">Para agregar un mapa ingrese
					<a href="https://www.google.cl/maps/" target="_blank">Aqui</a> luego ingrese la direccion del
					local,posteriormente aprete donde sale compatir < insertar mapa y copie el link que se mostrara.
						</div>
						<div class="form-group col-sm-12 col-md-4">
							<label for="nombre" class="col-form-label">Nombre sucursal</label>
							<input type="text" class="form-control" placeholder="Oficinas xxxx" formControlName="nombre"
								[(ngModel)]="registro.nombre">
							<div *ngIf="nombre_feed.invalid && (nombre_feed.dirty || nombre_feed.touched)"
								class="alert alert-danger">
								<div *ngIf="nombre_feed.errors.required" class="email-feedback">Ingrese un nombre para
									la nueva
									sucursal
								</div>
								<div *ngIf="nombre_feed.errors?.minlength" class="email-feedback">Ingrese un nombre mas
									largo
								</div>
								<div *ngIf="nombre_feed.errors?.maxlength" class="email-feedback">Ingrese un nombre mas
									corto
								</div>
							</div>
						</div>


						<div class="form-group col-sm-12 col-md-4">
							<label for="nombre" class="col-form-label">Direccion</label>
							<input type="text" class="form-control" placeholder="Edificio 340 xxxx"
								formControlName="direccion" [(ngModel)]="registro.direccion">
							<div *ngIf="direccion_feed.invalid && (direccion_feed.dirty || direccion_feed.touched)"
								class="alert alert-danger">
								<div *ngIf="direccion_feed.errors.required" class="email-feedback">Ingrese una direccion
									para la
									sucursal
								</div>
								<div *ngIf="direccion_feed.errors?.minlength" class="email-feedback">Ingrese una
									direccion mas
									larga
								</div>
								<div *ngIf="direccion_feed.errors?.maxlength" class="email-feedback">Ingrese una
									direccion mas
									corta
								</div>
							</div>
						</div>
						<div class="form-group col-sm-12 col-md-4">
							<label for="name" class="col-form-label">Direccion auxiliar</label>
							<input type="text" class="form-control" placeholder="Calle xx" formControlName="direccion2"
								[(ngModel)]="registro.direccion2">
							<div *ngIf="direccion2_feed.invalid && (direccion2_feed.dirty || direccion2_feed.touched)"
								class="alert alert-danger">
								<div *ngIf="direccion2_feed.errors.required" class="email-feedback">Ingrese una
									direccion para
									la sucursal
								</div>
								<div *ngIf="direccion2_feed.errors?.minlength" class="email-feedback">Ingrese una
									direccion mas
									larga
								</div>
								<div *ngIf="direccion2_feed.errors?.maxlength" class="email-feedback">Ingrese una
									direccion mas
									corta
								</div>
							</div>
						</div>
						<div class="form-group col-sm-12 col-md-4">
							<label for="name" class="col-form-label">Google maps</label>
							<input type="text" class="form-control" placeholder="" formControlName="urlmap"
								[(ngModel)]="registro.urlmap">
							<button type="button" class="btn btn-primary btn-block" (click)="CargarMapa()">Previsualizar
								mapa</button>
							<div *ngIf="mapanovalido" class="col-12 alert alert-danger">El mapa ingresado no es valido
							</div>
						</div>

						<div class="col-8" *ngIf="mostrarDatos">
							<div class="google-maps">
								<div [innerHTML]="Mostrarmapa" *ngIf="mostrarDatos"></div>
							</div>
						</div>

						<div class="form-group col-sm-12 col-md-4">
							<label for="name" class="col-form-label">Email</label>
							<input type="text" class="form-control" placeholder="" formControlName="mail"
								[(ngModel)]="registro.email">
							<div *ngIf="mail_feed.invalid && (mail_feed.dirty || mail_feed.touched)"
								class="alert alert-danger">
								<div *ngIf="mail_feed.errors.email" class="email-feedback">Ingrese una direccion de
									correo valida
								</div>
							</div>
							<div class="alert alert-info">Al ingresar un correo en este campo cada vez que un cliente
								agende una hora llegaran un correo informando de la hora</div>

						</div>
						<div class="col-12"></div>
						<div class="form-group col-sm-12 col-md-4">
							<label for="regiones" class="col-form-label">Región</label>
							<select name="regiones" class="form-control"
								(change)="cargarprovinciaC($event.target.value)">
								<option value="0">Seleccionar región</option>
								<option *ngFor="let prov of regiones.provincia" value="{{prov.region_id}}">
									{{prov.region_name}}
								</option>
							</select>
						</div>
						<div class="form-group col-sm-12 col-md-4">

							<label for="provincia" class="col-form-label">Provincia</label>
							<select name="provincia" class="form-control" (change)="cargarComuna($event.target.value)">
								<option value="0">Seleccionar provincia</option>
								<option *ngFor="let ciudad of provincia" value="{{ciudad.provincia_id}}">
									{{ciudad.provincia_name}}
								</option>

							</select>
						</div>
						<div class="form-group col-sm-12 col-md-4">
							<label for="comunas" class="col-form-label">Comuna</label>
							<select name="comunas" class="form-control" (change)="guardarComuna($event.target.value)">
								<option value="0">Seleccionar Comunas</option>
								<option *ngFor="let parroquia of Comunas.parroquia " value="{{parroquia.comuna_id}}">
									{{parroquia.comuna_name}}</option>


							</select>
						</div>
						<div class="col-12"></div>
						<div *ngIf="Modificarmapaerror" class="col-12 alert alert-danger">Ingrese la direccion de google
							maps para continuar
						</div>
						<div *ngIf="comunaerrorcrear" class="col-12 alert alert-danger">Seleccione una comuna para
							continuar
						</div>
						<div *ngIf="sucursalresult" class="col-12 alert alert-success">Se ha creado la sucursal
							{{surc_name}}
							Correctamente!</div>
						<div class="col-4">
							<button type="submit" class="btn btn-success btn-block"
								[disabled]="!registroEForm.valid">Registrar Sucursal</button>
						</div>
						<div class="col-4">
							<button type="button" (click)="salir()" class="btn btn-primary btn-block">Salir sin
								crear</button>
						</div>

				</div>
		</form>
	</div>

	<div *ngIf="panelcrearsucursalE">
		<form [formGroup]="registroEForm" (ngSubmit)="crearnuevaSucursal()">
			<div class="row">
				<div class="col-12">
					<h2>Crear nueva sucursal Ecuador</h2>
				</div>
				<div class="form-group col-sm-12 col-md-4">
					<label for="nombre" class="col-form-label">Nombre sucursal</label>
					<input type="text" class="form-control" placeholder="Oficinas xxxx" formControlName="nombre"
						[(ngModel)]="registro.nombre">
					<div *ngIf="nombre_feed.invalid && (nombre_feed.dirty || nombre_feed.touched)"
						class="alert alert-danger">
						<div *ngIf="nombre_feed.errors.required" class="email-feedback">Ingrese un nombre para la
							sucursal
						</div>
						<div *ngIf="nombre_feed.errors?.minlength" class="email-feedback">Ingrese un nombre mas largo
						</div>
						<div *ngIf="nombre_feed.errors?.maxlength" class="email-feedback">Ingrese un nombre mas corto
						</div>
					</div>
				</div>


				<div class="form-group col-sm-12 col-md-4">
					<label for="nombre" class="col-form-label">Direccion</label>
					<input type="text" class="form-control" placeholder="Edificio 340 xxxx" formControlName="direccion"
						[(ngModel)]="registro.direccion">
					<div *ngIf="direccion_feed.invalid && (direccion_feed.dirty || direccion_feed.touched)"
						class="alert alert-danger">
						<div *ngIf="direccion_feed.errors.required" class="email-feedback">Ingrese una direccion
						</div>
						<div *ngIf="direccion_feed.errors?.minlength" class="email-feedback">Ingrese una direccion mas
							larga
						</div>
						<div *ngIf="direccion_feed.errors?.maxlength" class="email-feedback">Ingrese una direccion mas
							corta
						</div>
					</div>
				</div>
				<div class="form-group col-sm-12 col-md-4">
					<label for="name" class="col-form-label">Direccion auxiliar</label>
					<input type="text" class="form-control" placeholder="Calle xx" formControlName="direccion2"
						[(ngModel)]="registro.direccion2">

					<div *ngIf="direccion2_feed.invalid && (direccion2_feed.dirty || direccion2_feed.touched)"
						class="alert alert-danger">
						<div *ngIf="direccion2_feed.errors.required" class="email-feedback">Ingrese una direccion
						</div>
						<div *ngIf="direccion2_feed.errors?.minlength" class="email-feedback">Ingrese una direccion mas
							larga
						</div>
						<div *ngIf="direccion2_feed.errors?.maxlength" class="email-feedback">Ingrese una direccion mas
							corta
						</div>
					</div>

				</div>

				<div class="form-group col-sm-12 col-md-4">
					<label for="name" class="col-form-label">Google maps</label>
					<input type="text" class="form-control" placeholder="" formControlName="urlmap"
						[(ngModel)]="registro.urlmap">

					<div *ngIf="urlmap_feed.invalid && (urlmap_feed.dirty || urlmap_feed.touched)"
						class="alert alert-danger">
						<div *ngIf="urlmap_feed.errors.required" class="email-feedback">Ingrese el link del mapa
						</div>
						<div *ngIf="urlmap_feed.errors?.minlength" class="email-feedback">Ingrese una direccion mas
							larga
						</div>
						<div *ngIf="urlmap_feed.errors?.maxlength" class="email-feedback">Ingrese una direccion mas
							corta
						</div>
					</div>
				</div>



				<div class="col-8"></div>
				<div class="form-group col-sm-12 col-md-4">
					<label for="provincia" class="col-form-label">Provincia</label>
					<select name="provincia" class="form-control" (change)="cargarCiudad($event.target.value)">
						<option value="0">Seleccionar la provincia</option>
						<option *ngFor="let prov of regiones.provincia" value="{{prov.COD_ESTADO}}">{{prov.NOM_ESTADO}}
						</option>
					</select>
				</div>
				<div class="form-group col-sm-12 col-md-4">

					<label for="provincia" class="col-form-label">Ciudad</label>
					<select name="provincia" class="form-control" (change)="cargarParroquia($event.target.value)">
						<option value="0">Seleccionar la ciudad</option>

						<option *ngFor="let ciudad of provincia.ciudad" value="{{ciudad.COD_PROV}}">{{ciudad.NOM_PROV}}
						</option>

					</select>
				</div>

				<div class="form-group col-sm-12 col-md-4">
					<label for="comunas" class="col-form-label">Parroquia</label>
					<select name="comunas" class="form-control" (change)="guardarParroquia($event.target.value)">
						<option value="0">Seleccionar la parroquia</option>
						<option *ngFor="let parroquia of Comunas.parroquia " value="{{parroquia.COD_LOCALIDAD}}">
							{{parroquia.NOM_LOCALIDAD}}</option>

					</select>
				</div>

				<div *ngIf="parroquiaerr" class="col-12 alert alert-danger">Seleccione una parroquia para continuar
				</div>
				<div *ngIf="sucursalresult" class="col-12 alert alert-success">Se ha creado la sucursal {{surc_name}}
					Correctamente!</div>

				<div class="col-4">
					<button type="submit" class="btn btn-primary btn-block"
						[disabled]="!registroEForm.valid">Registrar</button>
				</div>
				<div class="col-4">
					<button type="button" (click)="salir()" class="btn btn-primary btn-block">Volver</button>
				</div>
			</div>
		</form>
	</div>


	<div *ngIf="paneltablaconfigurarSucursal">
		<div class="row">
			<div class="col-12">
				<h2>Configurar horario sucursales</h2><br>
			</div>
			<div class="col-12">
				<div *ngIf="ModeOf" class="btn-group" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-secondary" (click)="cargartablachile()">Sucursales
						Chile</button>
					<button type="button" class="btn btn-secondary" (click)="cargartablaecuador()">Sucursales
						Ecuador</button>
				</div>
			</div>
			<div class="col-12">
				<h2></h2><br>
			</div>
			<div class="col">
				<div class="card-body table-responsive p-0">
					<table class="table table-striped table-valign-middle" id="modificarusuario">
						<thead>
							<tr>
								<th>nombre</th>
								<th>direccion</th>
								<th>direccion auxiliar</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let items of tablachile">
								<td>{{items.nombre}}</td>
								<td>{{items.direccion}}</td>
								<td>{{items.direccion2}}</td>
								<td> <button class="btn btn-info" (click)="ConfigurarSucursalmostrar(items)"><i
											class="fas fa-search"></i></button></td>

							</tr>

						</tbody>
					</table>
				</div>
				<button class="btn btn-info" (click)="salir()">Volver</button>


			</div>
		</div>
	</div>

	<div *ngIf="panelconfigurarsucursal">

		<form [formGroup]="registroEForm" (ngSubmit)="ModificarSucursalM()">
			<div class="row">
				<div class="col-12">
					<h2>Modificar sucursal {{Country}} </h2>
				</div>
				<div class="col-12 alert alert-info">Para agregar un mapa ingrese
					<a href="https://www.google.cl/maps/" target="_blank">Aqui</a> luego ingrese la direccion del
					local,posteriormente aprete donde sale compatir < insertar mapa y copie el link que se mostrara.
						</div>
						<div class="form-group col-4">
							<label for="nombre" class="col-form-label">Nombre sucursal</label>
							<input type="text" class="form-control" placeholder="Oficinas xxxx" formControlName="nombre"
								[(ngModel)]="registro.nombre">
							<div *ngIf="nombre_feed.invalid && (nombre_feed.dirty || nombre_feed.touched)"
								class="alert alert-danger">
								<div *ngIf="nombre_feed.errors.required" class="email-feedback">Ingrese un nombre para
									la
									sucursal
								</div>
								<div *ngIf="nombre_feed.errors?.minlength" class="email-feedback">Ingrese un nombre mas
									largo
								</div>
								<div *ngIf="nombre_feed.errors?.maxlength" class="email-feedback">Ingrese un nombre mas
									corto
								</div>
							</div>
						</div>


						<div class="form-group col-4">
							<label for="nombre" class="col-form-label">Direccion</label>
							<input type="text" class="form-control" placeholder="Edificio 340 xxxx"
								formControlName="direccion" [(ngModel)]="registro.direccion">
							<div *ngIf="direccion_feed.invalid && (direccion_feed.dirty || direccion_feed.touched)"
								class="alert alert-danger">
								<div *ngIf="direccion_feed.errors.required" class="email-feedback">Ingrese una direccion
								</div>
								<div *ngIf="direccion_feed.errors?.minlength" class="email-feedback">Ingrese una
									direccion mas
									larga
								</div>
								<div *ngIf="direccion_feed.errors?.maxlength" class="email-feedback">Ingrese una
									direccion mas
									corta
								</div>
							</div>
						</div>
						<div class="form-group col-4">
							<label for="name" class="col-form-label">Direccion auxiliar</label>
							<input type="text" class="form-control" placeholder="Calle xx" formControlName="direccion2"
								[(ngModel)]="registro.direccion2">

							<div *ngIf="direccion2_feed.invalid && (direccion2_feed.dirty || direccion2_feed.touched)"
								class="alert alert-danger">
								<div *ngIf="direccion2_feed.errors.required" class="email-feedback">Ingrese una
									direccion
								</div>
								<div *ngIf="direccion2_feed.errors?.minlength" class="email-feedback">Ingrese una
									direccion mas
									larga
								</div>
								<div *ngIf="direccion2_feed.errors?.maxlength" class="email-feedback">Ingrese una
									direccion mas
									corta
								</div>
							</div>

						</div>

						<div class="form-group col-4">
							<label for="name" class="col-form-label">Google maps</label>
							<input type="text" class="form-control" placeholder="" formControlName="urlmap"
								[(ngModel)]="registro.urlmap">

							<div *ngIf="urlmap_feed.invalid && (urlmap_feed.dirty || urlmap_feed.touched)"
								class="alert alert-danger">
								<div *ngIf="urlmap_feed.errors.required" class="email-feedback">Ingrese el link del mapa
								</div>
								<div *ngIf="urlmap_feed.errors?.minlength" class="email-feedback">Ingrese una direccion
									mas
									larga
								</div>
								<div *ngIf="urlmap_feed.errors?.maxlength" class="email-feedback">Ingrese una direccion
									mas
									corta
								</div>
							</div>
							<button type="button" class="btn btn-primary btn-block"
								(click)="CargarMapa2()">Previsualizar
								mapa</button>
							<div *ngIf="mapanovalido" class="col-12 alert alert-danger">El mapa ingresado no es valido
							</div>
						</div>

						<div class="col-12" *ngIf="mostrarDatos2">
							<div class="google-maps">
								<div [innerHTML]="Mostrarmapa2" *ngIf="mostrarDatos2"></div>
							</div>
						</div>
						<div class="form-group col-sm-12 col-md-4">
							<label for="name" class="col-form-label">Email</label>
							<input type="text" class="form-control" placeholder="" formControlName="mail"
								[(ngModel)]="registro.email">
							<div *ngIf="mail_feed.invalid && (mail_feed.dirty || mail_feed.touched)"
								class="alert alert-danger">
								<div *ngIf="mail_feed.errors.email" class="email-feedback">Ingrese una direccion de
									correo valida
								</div>
							</div>
							<div class="alert alert-info">Al ingresar un correo en este campo cada vez que un cliente
								agende una hora llegaran un correo informando de la hora</div>
						</div>
						<div class="col-12"></div>

						<div *ngIf="modeChile" class="form-group col-sm-12 col-md-4">
							<label for="regiones" class="col-form-label">Región</label>
							<select name="regiones" class="form-control"
								(change)="cargarprovinciaC($event.target.value)">
								<option value="0">Seleccionar región</option>
								<option *ngFor="let prov of regiones.provincia" value="{{prov.region_id}}"
									[selected]="prov.region_id===Mprovincia.provincia">{{prov.region_name}}</option>
							</select>
						</div>
						<div *ngIf="modeChile" class="form-group col-sm-12 col-md-4">

							<label for="provincia" class="col-form-label">Provincia</label>
							<select name="provincia" class="form-control" (change)="cargarComuna($event.target.value)">
								<option value="0">Seleccionar provincia</option>
								<option *ngFor="let ciudad of provincia" value="{{ciudad.provincia_id}}"
									[selected]="ciudad.provincia_id===Mprovincia.codigo">{{ciudad.provincia_name}}
								</option>

							</select>
						</div>
						<div *ngIf="modeChile" class="form-group col-sm-12 col-md-4">
							<label for="comunas" class="col-form-label">Comuna</label>
							<select name="comunas" class="form-control" (change)="guardarComunaM($event.target.value)">
								<option value="0">Seleccionar Comunas</option>
								<option *ngFor="let parroquia of Comunas.parroquia " value="{{parroquia.comuna_id}}"
									[selected]="parroquia.comuna_id===Mprovincia.comuna">
									{{parroquia.comuna_name}}</option>
							</select>
						</div>

						<div *ngIf="modeEcuador" class="form-group col-sm-12 col-md-4">
							<label for="provincia" class="col-form-label">Provincia</label>
							<select name="provincia" class="form-control" (change)="cargarCiudad($event.target.value)">
								<option value="0">Seleccionar la provincia</option>
								<option *ngFor="let prov of regiones.provincia" value="{{prov.COD_ESTADO}}"
									[selected]="prov.COD_ESTADO===Mprovincia.provincia">{{prov.NOM_ESTADO}}
								</option>
							</select>
						</div>
						<div *ngIf="modeEcuador" class="form-group col-sm-12 col-md-4">
							<label for="provincia" class="col-form-label">Ciudad</label>
							<select name="provincia" class="form-control"
								(change)="cargarParroquia($event.target.value)">
								<option value="0">Seleccionar la ciudad</option>

								<option *ngFor="let ciudad of provincia.ciudad" value="{{ciudad.COD_PROV}}"
									[selected]="ciudad.COD_ESTADO===Mprovincia.provincia">{{ciudad.NOM_PROV}}
								</option>

							</select>
						</div>

						<div *ngIf="modeEcuador" class="form-group col-sm-12 col-md-4">
							<label for="comunas" class="col-form-label">Parroquia</label>
							<select name="comunas" class="form-control"
								(change)="guardarParroquia($event.target.value)">
								<option value="0">Seleccionar la parroquia</option>
								<option *ngFor="let parroquia of Comunas.parroquia " value="{{parroquia.COD_LOCALIDAD}}"
									[selected]="parroquia.COD_LOCALIDAD===Mprovincia.codigo">
									{{parroquia.NOM_LOCALIDAD}}</option>

							</select>
						</div>
						<div *ngIf="Modificarmapaerror" class="col-12 alert alert-danger">Ingrese la direccion de google
							maps para continuar
						</div>

						<div *ngIf="Modificarcomunaerror" class="col-12 alert alert-danger">Seleccione una comuna para
							continuar
						</div>
						<div *ngIf="modificarResultado" class="col-12 alert alert-success">Se ha modificado la sucursal
							Correctamente!</div>

						<div class="col-4">
							<button type="submit" class="btn btn-success btn-block"
								[disabled]="!registroEForm.valid">Modificar sucursal</button>
						</div>
						<div class="col-4">
							<button type="button" class="btn btn-danger btn-block" (click)="borrarSucursal()">Eliminar
								Sucursal</button>
						</div>
						<div class="col-4">
							<button type="button" (click)="salir()" class="btn btn-primary btn-block">Volver</button>
						</div>
				</div>
		</form>


	</div>
	<div *ngIf="sucursaldelete" class="row">
		<div class="col-12 alert alert-success">
			Se ha eliminado la sucursal correctamente
		</div>
		<div class="col-4">
			<button type="button" (click)="salir()" class="btn btn-primary btn-block">Volver</button>
		</div>
	</div>

	<div *ngIf="paneltablamodificarSucursal">
		<div class="row">
			<div class="col-12">
				<h2>Modificar sucursales {{Country}}</h2>
			</div>
			<div class="col-12" *ngIf="ModeOf">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-secondary" (click)="cargartablachile()">Sucursales
						Chile</button>
					<button type="button" class="btn btn-secondary" (click)="cargartablaecuador()">Sucursales
						Ecuador</button>
				</div>
			</div>
			<div class="col">
				<div class="card-body table-responsive p-0">
					<table class="table table-striped table-valign-middle" id="modificarusuario">
						<thead>
							<tr>
								<th>nombre</th>
								<th>direccion</th>
								<th>direccion auxiliar</th>


								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let items of tablachile">
								<td>{{items.nombre}}</td>
								<td>{{items.direccion}}</td>
								<td>{{items.direccion2}}</td>


								<td> <button class="btn btn-info" (click)="modificarSucursal(items)"><i
											class="fas fa-search"></i></button></td>

							</tr>

						</tbody>
					</table>
				</div>
				<button class="btn btn-info" (click)="salir()">Volver</button>


			</div>
		</div>
	</div>

	<div *ngIf="ConfigurarSucursalmostar">

		<div class="row">
			<div class="col-12">
				<h2>Configurar Horario Sucursal {{NombreSucursal}}</h2>
			</div>
			<div *ngIf="newConfig" class="col-12 alert alert-info">
				Esta sucursal no tiene configuradas sus horas de atencion!
			</div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Cantidad de turnos por hora</label>
				<input type="text" [(ngModel)]="horarioFormat.turno" class="form-control"
					placeholder="Ejemplo: 1 o 2 por turno">
			</div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Formato de horas</label>
				<select name="comunas" class="form-control" (change)="CargarHorario($event.target.value)">
					<option value="0">Seleccionar</option>
					<option *ngFor="let hora of formathour " value="{{hora.hora}}"
						[selected]="hora.hora===configuracion.hours_format">
						{{hora.hora}} minutos</option>

				</select>
			</div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Hora de apertura mañana</label>
				<select name="comunas" class="form-control" (change)="cargarhorario2($event.target.value)">
					<option value="0">Seleccionar</option>
					<option *ngFor="let horaI of Horario1 " value="{{horaI.Numhour}}"
						[selected]="horaI.Numhour===configuracion.hours_i_morning">
						{{horaI.hours_name}}</option>

				</select>
			</div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Hora de termino mañana</label>
				<select name="comunas" class="form-control" (change)="cargarhorario3($event.target.value)">
					<option value="0">Seleccionar</option>
					<option *ngFor="let horat of Horario2 " value="{{horat.Numhour}}"
						[selected]="horat.Numhour===configuracion.hours_e_morning">
						{{horat.hours_name}}</option>

				</select>
			</div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Hora de apertura tarde</label>
				<select name="comunas" class="form-control" (change)="cargarhorario4($event.target.value)">
					<option value="0">Seleccionar</option>
					<option *ngFor="let horaI of Horario3 " value="{{horaI.Numhour}}"
						[selected]="horaI.Numhour===configuracion.hours_i_noon">
						{{horaI.hours_name}}</option>

				</select>
			</div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Hora de termino tarde</label>
				<select name="comunas" class="form-control" (change)="guardardatos($event.target.value)">
					<option value="0">Seleccionar</option>
					<option *ngFor="let horaI of Horario4 " value="{{horaI.Numhour}}"
						[selected]="horaI.Numhour===configuracion.hours_e_noon">
						{{horaI.hours_name}}</option>

				</select>
			</div>
			<div class="col-12"><b>Dias de trabajo</b></div>
			<div class="col-12"></div>
			<div class="form-group col-12">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="checkbox1" [(ngModel)]="horarioFormat.Days1">
					Lunes
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="checkbox2" [(ngModel)]="horarioFormat.Days2">
					Martes
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="checkbox3" [(ngModel)]="horarioFormat.Days3">
					Miercoles
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="checkbox4" [(ngModel)]="horarioFormat.Days4">
					Jueves
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="checkbox5" [(ngModel)]="horarioFormat.Days5">
					Viernes
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="checkbox6" [(ngModel)]="horarioFormat.Days6">
					Sabado
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="checkbox7" [(ngModel)]="horarioFormat.Days7">
					Domingo
				</div>
				<div *ngIf="resultadomodifcar" class="col-12 alert alert-success">
					Se ha modificado el horario de la sucursal correctamente!
				</div>

				<div *ngIf="resulterror" class="col-12 alert alert-danger">
					{{errorhorario}}
				</div>
				<div *ngIf="resultcrear" class="col-12 alert alert-success">
					Se ha creado el horario de la sucursal correctamente!
				</div>

			</div>
			<div class="col-4">
				<button class="btn btn-success btn-block" (click)="GenerarHorario()">Guardar Cambios</button>
			</div>
			<div *ngIf="Sconfiguracion" class="col-4">
				<button class="btn btn-success btn-block" (click)="listarHorarioEspecial()">Ver Horario
					Especial</button>
			</div>
			<div class="col-4">
				<button class="btn btn-info btn-block" (click)="salir()">Volver</button>
			</div>
		</div>

	</div>

	<div *ngIf="HorarioEspeciallista">
		<div class="row">
			<div class="col-12">
				<h2>Horarios Especiales en la sucursal {{NombreSucursal}}</h2>
			</div>

			<div class="col">
				<div class="card-body table-responsive p-0">
					<table class="table table-striped table-valign-middle" id="modificarusuario">
						<thead>
							<tr>
								<th>Dia</th>
								<th>Cantidad de turnos</th>
								<th>Hora mañana</th>
								<th>Hora termino mañana</th>
								<th>Hora tarde</th>
								<th>Hora termino tarde</th>
								<th>Opciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let items of horarioEspecial">
								<td>{{items.day}}</td>
								<td>{{items.hours_cant}}</td>
								<td>{{items.hours_i_morning}}</td>
								<td>{{items.hours_e_morning}}</td>
								<td>{{items.hours_i_noon}}</td>
								<td>{{items.hours_e_noon}}</td>
								<td> <button class="btn btn-danger" (click)="EliminarHorarioEspecial(items)"><i
											class="fas fa-trash-alt"></i></button></td>

							</tr>

						</tbody>
					</table>
				</div>


			</div>
			<div class="col-12"></div>
			<div class="col-4">
				<button class="btn btn-success btn-block" (click)="ConfigurarHorarioEspecialM()">Agregar Horario
					Especial</button>
			</div>
			<div class="col-4">
				<button class="btn btn-info btn-block" (click)="salir()">Volver</button>
			</div>
		</div>
	</div>


	<div *ngIf="ConfigurarHorarioEspecial">

		<div class="row">
			<div class="col-12">
				<h2>Configurar Horario Especial Sucursal {{NombreSucursal}}</h2>
			</div>
			<div *ngIf="newConfig" class="col-12 alert alert-info">
				Esta sucursal no tiene configuradas sus horas de atencion!
			</div>
			<div class="col-sm-12 col-md-4">
				<label for="day" class="col-form-label">Dia del horario</label>
				<select name="day" class="form-control" (change)="day($event.target.value)">
					<option value="0">Lunes </option>
					<option value="1">Martes</option>
					<option value="2">Miercoles</option>
					<option value="3">Jueves </option>
					<option value="4">Vienes</option>
					<option value="5">Sabado</option>
					<option value="6">Domingo </option>
				</select>
			</div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Cantidad de turnos</label>
				<input type="text" [(ngModel)]="horarioFormat.turno" class="form-control"
					placeholder="Ejemplo: 1 o 2 por turno">
			</div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Modalidad de turnos</label>
				<select name="comunas" class="form-control" (change)="CargarHorario($event.target.value)">
					<option value="0">Seleccionar</option>
					<option *ngFor="let hora of formathour " value="{{hora.hora}}">
						{{hora.hora}} minutos</option>
				</select>
			</div>
			<div class="col-12"></div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Hora de apertura mañana</label>
				<select name="comunas" class="form-control" (change)="cargarhorario2($event.target.value)">
					<option value="0">Seleccionar</option>
					<option *ngFor="let horaI of Horario1 " value="{{horaI.Numhour}}">
						{{horaI.hours_name}}</option>

				</select>
			</div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Hora de termino mañana</label>
				<select name="comunas" class="form-control" (change)="cargarhorario3($event.target.value)">
					<option value="0">Seleccionar</option>
					<option *ngFor="let horat of Horario2 " value="{{horat.Numhour}}">
						{{horat.hours_name}}</option>

				</select>
			</div>
			<div class="col-12"></div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Hora de apertura tarde</label>
				<select name="comunas" class="form-control" (change)="cargarhorario4($event.target.value)">
					<option value="0">Seleccionar</option>
					<option *ngFor="let horaI of Horario3 " value="{{horaI.Numhour}}">
						{{horaI.hours_name}}</option>

				</select>
			</div>
			<div class="form-group col-sm-12 col-md-4">
				<label for="formato" class="col-form-label">Hora de termino tarde</label>
				<select name="comunas" class="form-control" (change)="guardardatos($event.target.value)">
					<option value="0">Seleccionar</option>
					<option *ngFor="let horaI of Horario4 " value="{{horaI.Numhour}}">
						{{horaI.hours_name}}</option>

				</select>
			</div>

			<div class="col-12"></div>
			<div class="form-group col-12">



				<div *ngIf="resulterror" class="col-12 alert alert-danger">
					{{errorhorario}}
				</div>
				<div *ngIf="resultcrear" class="col-12 alert alert-success">
					Se ha creado el horario de la sucursal correctamente!
				</div>

			</div>
			<div class="col-4">
				<button class="btn btn-success btn-block" (click)="GenerarHorarioEspecial()">Guardar Cambios</button>
			</div>
			<div class="col-4">
				<button class="btn btn-info btn-block" (click)="salir()">Volver</button>
			</div>
		</div>

	</div>
	<div *ngIf="gestionGuardiasP">

		<div class="col-12">
			<h2>Gestion de guardias</h2>
			<div class="card-body table-responsive p-0">
				<table class="table table-striped table-valign-middle" id="modificarusuario">
					<thead>
						<tr>
							<th>nombre</th>
							<th>apellido</th>
							<th>identificacion</th>
							<th>email</th>
							<th>constraseña</th>
							<th>Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let items of guardiaslist">
							<td>{{items.nombre}}</td>
							<td>{{items.apellido}}</td>
							<td>{{items.identification}}</td>
							<td>{{items.email}}</td>
							<td>{{items.estado}}</td>
							<td> <button class="btn btn-danger" (click)="EliminarGuardia(items)"><i
										class="fas fa-trash-alt"></i></button></td>

						</tr>

					</tbody>
				</table>
			</div>

			<div class="row">
			<div class="col-4"><button class="btn btn-info btn-block" (click)="salir()">Salir</button></div>
				
			<div class="col-4">
				<button type="button" (click)="CrearGuardia()" class="btn btn-success btn-block">Crear Guardia</button>
			</div>
		</div>

		</div>
	</div>
	<div *ngIf="panelcrearGuardia">
		<form [formGroup]="registroGForm" (ngSubmit)="RegistrarGuardia()">
			<div class="row">
				<div class="col-12">
					<h2>Crear Nuevo Guardia</h2>
				</div>
				<div class="form-group col-4">
					<label for="name" class="col-form-label">Nombres</label>
					<input type="text" class="form-control" placeholder="nombres" formControlName="name"
						[(ngModel)]="registroG.nombre">
					<div *ngIf="name_feed.invalid && (name_feed.dirty || name_feed.touched)"
						class="alert alert-danger">
						<div *ngIf="name_feed.errors.required" class="email-feedback">Necesitamos tu nombre</div>
						<div *ngIf="name_feed.errors.pattern" class="email-feedback">Un nombre extraño</div>
						<div *ngIf="name_feed.errors?.minlength" class="email-feedback">Nombre demasiado corto</div>
						<div *ngIf="name_feed.errors?.maxlength" class="email-feedback">Nombre demasiado largo</div>
					</div>
				</div>
				<div class="form-group col-4">
					<label for="name" class="col-form-label">Apellidos</label>
					<input type="text" class="form-control" placeholder="Paterno y materno"
						formControlName="lastname" [(ngModel)]="registroG.apellidos">
					<div *ngIf="lastname_feed.invalid && (lastname_feed.dirty || lastname_feed.touched)"
						class="alert alert-danger">
						<div *ngIf="lastname_feed.errors.required" class="email-feedback">Necesitamos tus apellidos
						</div>
						<div *ngIf="lastname_feed.errors.pattern" class="email-feedback">Un apellido extraño</div>
						<div *ngIf="lastname_feed.errors?.minlength" class="email-feedback">Apellido demasiado corto
						</div>
						<div *ngIf="lastname_feed.errors?.maxlength" class="email-feedback">Apellido demasiado largo
						</div>
					</div>
				</div>
				<div class="form-group col-4">
					<label for="name" class="col-form-label">Identificacion</label>
					<input type="text" class="form-control" placeholder="999999999" formControlName="rut"
						[(ngModel)]="registroG.rut">
					<div *ngIf="rut_feed.invalid && (rut_feed.dirty || rut_feed.touched)"
						class="alert alert-danger">
						<div *ngIf="rut_feed.errors.required" class="rut-feedback">Identificacion requerida</div>
					</div>
				</div>
				<div class="form-group col-4">
					<label for="name" class="col-form-label">Correo Electronico</label>
					<input type="text" class="form-control" placeholder="example@gmail.com" formControlName="email"
						[(ngModel)]="registroG.email">
					<div *ngIf="email_feed.invalid && (email_feed.dirty || email_feed.touched)"
						class="alert alert-danger">
						<div *ngIf="email_feed.errors.required" class="email-feedback">Necesitamos tu email</div>
						<div *ngIf="email_feed.errors.email" class="email-feedback">Direccion de email no es valido
						</div>
					</div>
					<div *ngIf="newemail" class="alert alert-danger">
						El email ya se encuentra registrado
					</div>
				</div>
				<div class="form-group col-4">
					<label for="name" class="col-form-label">Contraseña</label>
					<input type="password" class="form-control" placeholder="Contraseña" formControlName="password"
						[(ngModel)]="registroG.pwd" (change)="checkpass()">
					<div *ngIf="password_feed.invalid && (password_feed.dirty || password_feed.touched)"
						class="alert alert-danger">
						<div *ngIf="password_feed.errors.required" class="email-feedback">Ingrese una contraseña
						</div>
						<div *ngIf="password_feed.errors?.minlength" class="email-feedback">Ingrese una contraseña
							mas larga</div>
						<div *ngIf="password_feed.errors?.maxlength" class="email-feedback">Su contraseña es muy
							larga</div>
					</div>
				</div>
				<div class="form-group col-4">
					<label for="name" class="col-form-label">Reingresar Contraseña</label>
					<input type="password" class="form-control" placeholder="Contraseña" formControlName="password2"
						[(ngModel)]="registroG.pwd2" (change)="checkpass()">
					<div *ngIf="password2_feed.invalid && (password2_feed.dirty || password2_feed.touched)"
						class="alert alert-danger">
						<div *ngIf="password2_feed.errors.required" class="email-feedback">Ingrese una contraseña
						</div>
						<div *ngIf="password2_feed.errors?.minlength" class="email-feedback">Ingrese una contraseña
							mas larga</div>
						<div *ngIf="password2_feed.errors?.maxlength" class="email-feedback">Su contraseña es muy
							larga</div>
					</div>
				</div>
				<div *ngIf="badpassword" class="alert alert-danger col-12">verifique que las contraseñas sean
					inguales</div>
				<div *ngIf="emailcheckfail" class="alert alert-danger col-12">el correo electronico ingresado ya se encuentra registrado</div>
				<div *ngIf="resultado" class="alert alert-success col-12">el usuario fue creado correctamente!</div>
				<div class="col-12"></div>
				<div class="col-4">
					<button type="submit" class="btn btn-primary btn-block" [disabled]="!registroGForm.valid">Crear
						nuevo usuario</button>
				</div>
				<div class="col-4">
					<button type="button" (click)="salir()" class="btn btn-primary btn-block">Salir sin
						crear</button>
				</div>

			</div>
		</form>
	</div>

</div>