<section class="content-header">
	<h1>Sucursales </h1>
</section>

<div class="content">

	<div class="container-fluid">

		<div class="row">

			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>150</h3>

						<p>Personas en locales</p>
					</div>
					<div class="icon">
						<i class="ion ion-bag"></i>
					</div>
					
				</div>
			</div>

			<!-- ./col -->
			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-green">
					<div class="inner">
						<h3>53<sup style="font-size: 20px">%</sup></h3>

						<p>Locales Abiertos</p>
					</div>
					<div class="icon">
						<i class="ion ion-stats-bars"></i>
					</div>
				
				</div>
			</div>

			<!-- ./col -->
			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-yellow">
					<div class="inner">
						<h3>44</h3>

						<p>Staff</p>
					</div>
					<div class="icon">
						<i class="ion ion-person-add"></i>
					</div>
					
				</div>
			</div>

			<!-- ./col -->
			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-red">
					<div class="inner">
						<h3>65</h3>
						<p>Reuniones Virtuales</p>
					</div>
					<div class="icon">
						<i class="ion ion-pie-graph"></i>
					</div>
				</div>
			</div>
			<!-- ./col -->

		</div>

	</div>

</div>
