<section class="content-header">
	<h1> Dashboard <small>Vista General</small>
	</h1>
	
</section>
<div class="content">

	<div class="container-fluid">

		<div class="row">
			
		<div class="col-4">Modificar información de la empresa</div>
		<div class="col-8"><button type="button" class="btn btn-primary">Seleccionar</button>	<br></div>
		<div class="col-4">Modificar logos y colores</div>
		<div class="col-8"><button type="button" class="btn btn-primary">Seleccionar</button>	<br></div>
		<div class="col-4">Crear o modificar cuentas</div>
		<div class="col-8"><button type="button" class="btn btn-primary">Seleccionar</button>	<br></div>
		<div>
	</div>

</div>
