<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">

            <div class="login-logo">
                <a href="/"><b>DashBoard</b>JumpQ</a>
            </div>

            <div class="card">
                <div class="card-body login-card-body">
                    <h2 class="login-box-msg">Condiciones de servicio</h2>
                    <h5 class="card-title">Qué se trata en estos términos</h5>
                    <p class="card-text">
                        Algo para introducir en este parrafo para dar cabida de que se trata el servicio jumpQ.
                    </p>


                    <h5 class="card-title">Condición uno</h5>
                    <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum molestias, eveniet ducimus
                        libero ipsam in aspernatur ullam minima numquam, iste cum tenetur amet, rerum aut nobis ipsa
                        quaerat
                        velit esse.
                    </p>

                    <h5 class="card-title">Condición dos</h5>
                    <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab vero doloremque, aperiam atque ad
                        magni
                        pariatur incidunt quidem ut reiciendis quis eligendi quibusdam enim nulla fugiat architecto
                        voluptas
                        iure quia!
                    </p>

                    <h5 class="card-title">Condición tres</h5>
                    <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab vero doloremque, aperiam atque ad
                        magni
                        pariatur incidunt quidem ut reiciendis quis eligendi quibusdam enim nulla fugiat architecto
                        voluptas
                        iure quia!
                    </p>

                    <h5 class="card-title">Condición cuatro</h5>
                    <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab vero doloremque, aperiam atque ad
                        magni
                        pariatur incidunt quidem ut reiciendis quis eligendi quibusdam enim nulla fugiat architecto
                        voluptas
                        iure quia!
                    </p>

                    <h5 class="card-title">Condición cinco</h5>
                    <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab vero doloremque, aperiam atque ad
                        magni
                        pariatur incidunt quidem ut reiciendis quis eligendi quibusdam enim nulla fugiat architecto
                        voluptas
                        iure quia!
                    </p>


                </div>
            </div>

        </div>
    </div>
</div>